<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What We Got</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1 id="main-logo">WHAT WE GOT (main.handlebars)</h1>
	</header>

	{{{ body }}}

	<footer>
		<p>&copy; Copyright 2017 Nuno Tavares, John Krug, Jeffrey Chou</p>
	</footer>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js'></script>
	<script type="text/javascript" src="/javascript/search.js"></script>
</body>
</html>