<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What We Got</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1 id="main-logo">WHAT WE GOT (main.handlebars)</h1>
		<div id="subheader">
			{{#if logged_in}}
				<p id="username">Welcome {{username}}!</p>
				<a class="header-buttons" href="#">Saved Recipes</a>
				<a class="header-buttons" href="#">Your Recipes</a>
				<a class="header-buttons" href="/users/sign-out">Sign Out</a>
			{{else}}
				<a class="header-buttons" href="/users/sign-in">Sign In</a>
				<a class="header-buttons" href="/users/new">Sign Up</a>
			{{/if}}
		</div>
	</header>

	{{{ body }}}

	<footer>
		<p>&copy; Copyright 2017 Nuno Tavares, John Krug, Jeffrey Chou</p>
	</footer>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js'></script>
	<script type="text/javascript" src="/javascript/search.js"></script>
</body>
</html>