Welcome To What We Got

<form class="recipe_search" action="/recipe_search/search" method="POST">
	<label for="recipe_search">Recipe Search:</label>
	<input type="text" id="recipe_search" name="recipe_search" placeholder="Search">
	<button type="submit">Search</button>
</form>

<div id="recipe_display">
	<h4>NOT IN SEARCH.HANDLEBARS</h4>
	{{> recipes/recipes}}
</div>